Repository microsoft/winget-cli, pull requests merged in 2022-01, with the labels that each got.

#1807 Add support for UnsupportedOSArchitectures manifest element
  src/AppInstallerCLICore/Workflows/ManifestComparator.cpp
  src/AppInstallerCLICore/Workflows/WorkflowBase.cpp
  src/AppInstallerCLITests/ManifestComparator.cpp
Labels: Issue-Feature, Area-Manifest

#1842 Added check for maximum size of downloaded file names
  src/AppInstallerCLICore/Workflows/DownloadFlow.cpp
Labels: Issue-Bug

#1796 Allow upgrades in packages that register a different installer type
  src/AppInstallerCLICore/Workflows/ManifestComparator.cpp
  src/AppInstallerCLITests/AppInstallerCLITests.vcxproj
  src/AppInstallerCLITests/AppInstallerCLITests.vcxproj.filters
  src/AppInstallerCLITests/TestData/UpdateFlowTest_Exe_ARPInstallerType.yaml
  src/AppInstallerCLITests/WorkFlow.cpp
Labels: Issue-Feature, Area-Manifest

#1866 Print the upgrade table during `upgrade --all`
  src/AppInstallerCLICore/Commands/UpgradeCommand.cpp
  src/AppInstallerCLICore/Workflows/InstallFlow.cpp
  src/AppInstallerCLICore/Workflows/UpdateFlow.cpp
Labels: Issue-Feature

#1806 Add support for markets
  src/AppInstallerCLICore/Workflows/ManifestComparator.cpp
  src/AppInstallerCLICore/Workflows/ManifestComparator.h
  src/AppInstallerCLICore/Workflows/WorkflowBase.cpp
  src/AppInstallerCLITests/ManifestComparator.cpp
  src/AppInstallerCLITests/pch.h
  src/AppInstallerCommonCore/Public/AppInstallerRuntime.h
  src/AppInstallerCommonCore/Public/AppInstallerStrings.h
Labels: Issue-Feature, Area-Manifest
