Repository microsoft/winget-cli, pull requests merged in 2022-02, with the labels that each got.

#1945 Setting for Logging Level
  doc/Settings.md
  schemas/JSON/settings/settings.schema.0.2.json
  src/AppInstallerCLICore/Core.cpp
  src/AppInstallerCLITests/UserSettings.cpp
  src/AppInstallerCommonCore/Public/winget/UserSettings.h
  src/AppInstallerCommonCore/UserSettings.cpp
Labels: Issue-Feature, Area-Settings

#1937 Added system architecture to `winget --info`.
  src/AppInstallerCLICore/Commands/RootCommand.cpp
  src/AppInstallerCLICore/Resources.h
  src/AppInstallerCLIPackage/Shared/Strings/en-us/winget.resw
  src/AppInstallerCommonCore/Architecture.cpp
  src/AppInstallerCommonCore/Public/AppInstallerArchitecture.h
Labels: Issue-Feature, Area-Architecture

#1972 Fix: Only include unknown packages which exist in source
  src/AppInstallerCLICore/Workflows/WorkflowBase.cpp
Labels: Issue-Bug
